.header {
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $header-color;
  box-shadow: $box-shadow;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__text {
  @include font($font-family, 2.5rem, 700, $primary-font-color);
  letter-spacing: 2px;
  margin-left: 10px;
  text-transform: lowercase;
}

.logo__icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url('../img/popcorn.png');
}