.spinner {
  position: absolute;
  right: 215px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid #dad4d1;
  border-top: 2px solid #ecde15;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include media-tablet-small {
  .spinner {
    right: 98px;
    top: 4px;
  }
}
