// Common
@import "./variables.scss";
@import "./mixins.scss";
@import "./normalize.scss";

// Base
@import "./base.scss";

// Header 
@import "./header.scss";

// Search
@import "./search.scss";
@import "./spinner.scss";

// Swiper
@import "../../node_modules/swiper/css/swiper.min.css";
@import "./swiper.scss";

// Message
@import "./message.scss";

// Movie
@import "./movie.scss";
@import "./film-border.scss";

// Footer
@import "./footer.scss";
