$font-family: 'Noto Sans JP', sans-serif;;
$header-color: #353231;
$primary-color: #eee608;
$primary-font-color: #ffffff;
$bg-body-color: #ffffff;
$film-color: #70635d;
$film-cell-color: #4b4340;
$box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);