$font-family: 'Noto Sans JP', sans-serif;;
$header-color: #353231;
$primary-color: #f8e911;
$primary-font-color: #ffffff;
$message-font-color: #b62727;
$bg-body-color: #ffffff;
$film-color: #70635d;
$film-cell-color: #4b4340;
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.185);
$button-width: 110px;

$laptop-width: 1288px;
$tablet-big-width: 1020px;
$tablet-small-width: 768px;
$mobile-big-width: 480px;
$mobile-small-width: 375px;