.icon_refresh-bg {
  background-image: url("../image/icon_refresh-bg.png");
  background-size: cover;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.icon_arrow-circle {
  background-image: url("../image//icon_arrow-circle.svg");
  width: 15px;
  height: 20px;
}

