.location__name {
  @include font($font-family, 44px, 700, $font-color);
  width: 100%;
  text-transform: uppercase;
}

.location__date-time {
  @include font($font-family, 24px, 600, $font-color);
  width: 100%;
  margin-right: 10px;
  margin-top: 10px; 
}
