body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgb(134, 110, 145);
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.page-heading {
  color: rgb(134, 110, 145);
  font-weight: 600;
  font-size: 2rem;
}

.cards-layout {
  padding-top: 20px;
  padding-bottom: 20px;
}

.layout-3-column {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
