.button_play,
.button_restart {
  margin: 15px auto;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(160, 128, 248);
  border: 3px solid rgb(168, 147, 224);
  border-radius: 15px;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}
