.category-card {
  width: 300px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 5px #c7c6c6;
  font-size: 1.6rem;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card:hover .category-card__icon {
  transform: rotate(20deg);
}

.category-card_train {
  border: 2px solid rgb(194, 224, 85);
  background-color: rgba(205, 243, 37, 0.164);
}

.category-card_play {
  border: 2px solid rgb(168, 147, 224);
  background-color: rgba(150, 114, 248, 0.068);
}

.category-card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.category-card__header_train {
  background-color: rgb(203, 241, 62);
}

.category-card__header_play {
  background-color: rgb(160, 128, 248);
}

.category-car__title {
  margin-bottom: 10px;
}

.category-card__icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  transition: 0.3s;
}

.ico_actions_1 {
  background-image: url("../img/category_card_img/actions_1.png");
}

.ico_actions_2 {
  background-image: url("../img/category_card_img/actions_2.png");
}

.ico_animals_1 {
  background-image: url("../img/category_card_img/animals_1.png");
}

.ico_animals_2 {
  background-image: url("../img/category_card_img/animals_2.png");
}

.ico_clothes {
  background-image: url("../img/category_card_img/clothes.png");
}

.ico_emotions {
  background-image: url("../img/category_card_img/emotions.png");
}
