.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  box-shadow: 0px 0px 4px #979595;
  height: 80px;
  width: 100%;
  background-color: #fdfcfc;
  z-index: 2;
}

.header::before {
  content: '';
  display: block;
  width: 120px;
}

.logo {
  font-weight: 700;
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    font-size: 1.6rem;
  }

  .header::before {
    width: 115px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header::before {
    width: 10px;
  }

  .logo {
    display: none;
  }
}
