.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 46px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: rgb(203, 241, 62);
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  text-align: start;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  width: 35px;
  height: 35px;
  right: 9px;
  bottom: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(160, 128, 248);
  text-align: end;
}

input:checked + .slider:before {
  transform: translateX(-87px);
}