body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgb(134, 110, 145);
}

.wrapper {
  padding-top: 90px;
  text-align: center;
}

.page-heading {
  color: rgb(134, 110, 145);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 10px;
}

.cards-layout {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .cards-layout {
    max-width: 1020px;
  }
}

@media screen and (max-width: 1020px) {
  .cards-layout {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .cards-layout {
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .cards-layout {
    max-width: 375px;
  }
}

@media screen and (max-width: 375px) {
  .cards-layout {
    max-width: 320px;
  }
}
