.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 46px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: rgb(203, 241, 62);
  border: 2px solid rgb(194, 224, 85);
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  text-align: start;
  transition: 0.4s;
  box-shadow: 0px 0px 5px #c7c6c6;
}

.slider::before {
  position: absolute;
  content: '';
  width: 35px;
  height: 35px;
  right: 7px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(160, 128, 248);
  border: 2px solid rgb(168, 147, 224);
  text-align: end;
}

input:checked + .slider:before {
  transform: translateX(-88px);
}

@media screen and (max-width: 768px) {
  .switch {
    width: 115px;
  }

  .slider {
    font-size: 1.3rem;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
  }

  
  input:checked + .slider:before {
    transform: translateX(-64px);
  }
}
