.footer {
  width: 100vw;
  background-color: $header-color;
}

.footer__content {
  @include font($font-family, 0.8rem, 300, $primary-font-color);
  height: 70px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-media {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.icon_github {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon_github.svg");
  background-size: cover;
  margin-right: 6px;
}

@include media-tablet-small {
  .footer__content {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: space-around;
  }
}

