.movie {
  max-width: 350px;
  min-width: 350px;
  height: 460px;
  background-color: $film-color;
  position: relative;
  display: flex;
  
  &:before,
  &:after {
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: $box-shadow;
    clip-path: polygon(
      0% 0%,
      5% 100%,
      10% 0%,
      16% 100%,
      20% 0%,
      25% 100%,
      29% 0%,
      35% 100%,
      40% 0%,
      44% 100%,
      50% 0%,
      56% 100%,
      60% 0%,
      67% 100%,
      70% 0%,
      75% 100%,
      79% 0%,
      85% 100%,
      91% 0%,
      95% 100%,
      100% 0%
    );
  }
  &:before {
    background-color: $bg-body-color;
    top: 0;
  }
  &:after {
    background-color: $film-color;
    bottom: -5px;
  }
}

.movie__content {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.movie__poster {
  width: 220px;
  height: 325px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie__title {
  @include font($font-family, 1.3rem, 500, $primary-font-color);
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.movie__year {
  @include font($font-family, 0.9rem, 700, $primary-font-color);
  margin: 0 auto;
}

.movie__rate {
  @include font($font-family, 0.9rem, 700, $film-color);
  width: 45px;
  height: 45px;
  background-color: $primary-color;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: -5px;
  padding-top: 11px;
}

@include media-mobile-small {
  .movie {
    max-width: 310px;
    min-width: 310px;
  }

  .movie__content {
    width: 240px;
  }
}
